<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<div class="row">
  <div class="span4"></div>
  <div class="span4"><h2 class="text-center">Edit My Account</h2></div>
  <div class="span4"></div>
</div>
<div class="row">
  <div class="span2">
  </div>
   
  <div class="span5">
      <%= devise_error_messages! %>

      <div><%= f.label :email, 'email (only for login, and password recovery)'%>
      <%= f.email_field :email, autofocus: true %></div><br />

      <div><%= f.label :name, 'name'%>
      <%= f.text_field :name, autofocus: true %></div><br />

      <div><%= f.label :surname, 'surname'%>
      <%= f.text_field :surname, autofocus: true %></div><br />

      <div><%= f.label :contact_email, 'contact email (shown to public)' %>
      <%= f.email_field :contact_email, autofocus: true %></div><br />

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div><%= f.label :password, 'New password' %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off" %></div><br />

      <div><%= f.label :password_confirmation, 'New password confirmation' %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %></div><br />


  </div>
  <div class="span3">
        <div>
          <%= image_tag @admin.photo.url(:medium), class: 'img-circle' %><br /><br />
          <%= f.file_field :photo, :class => 'file_field' %></div><br />

        <div class="row">
          <div class="span6">
            <%= f.label :type, 'Who are you?' %>
            <%= f.radio_button(:type, "Instructor")%>
            <%= label_tag(:type, "An Instructor", style: 'display: inline-block;') %><br />
            <%= f.radio_button(:type, "")%>
            <%= label_tag(:type, "Not Instructor", style: 'display: inline-block;') %>
          </div>
          <div class="span6">
            
          </div>
       </div><br />

  </div>
  <div class="span2">
  </div>
</div>
<div class="row">
  <div class="span4"></div>
  <div class="span4">
          <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %></div>

      <div><%= f.submit "Update my account" %></div><br /><br />


    <h3>Delete my account</h3>

    <p>Warning! This action can NOT be undone <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>


    <h3 class="text-center"><%= link_to "Back", :back %></h3>
  </div>
  <div class="span4"></div>
</div>
<% end %>