<div class="row">
  <div class="span4">
  </div>

  <div class="span4">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email, 'email (only for login, and password recovery)'%>
      <%= f.email_field :email, autofocus: true %></div><br />

      <div><%= f.label :name, 'name'%>
      <%= f.text_field :name, autofocus: true %></div><br />

      <div><%= f.label :surname, 'surname'%>
      <%= f.text_field :surname, autofocus: true %></div><br />

      <div><%= f.label :contact_email, 'contact email (shown to public)' %>
      <%= f.email_field :contact_email, autofocus: true %></div><br />

      <div><%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %></div><br />

      <div><%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %></div><br />

      <div>
      <%= f.label :type, 'Are you?' %>
    	<%= f.radio_button(:type, "Instructor") %>
    	<%= label_tag(:type, "Instructor") %>
    	<%= f.radio_button(:type, "") %>
    	<%= label_tag(:type, "Not Instructor") %>
      </div><br />

        <div><%= f.label :photo, :class => 'control-label' %>
        
          <%= f.file_field :photo, :class => 'file_field' %></div><br />

      <div><%= f.submit "Sign up" %></div><br />
    <% end %>

    <%= render "devise/shared/links" %>
  </div>

  <div class="span4">
  </div>
</div>