<%= form_for @admin do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

    <p>
    <%= f.label :surname %><br>
    <%= f.text_field :surname %>
  </p>

  <p>
    <%= f.label :contact_email %><br>
    <%= f.text_field :contact_email %>
  </p>
  <p>
      <%= f.label :photo, :class => 'control-label' %>
    
      <%= f.file_field :photo, :class => 'file_field' %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>