<%= form_for @student do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

    <p>
    <%= f.label :surname %><br>
    <%= f.text_field :surname %>
  </p>

  <p>
    <%= f.label :student_number %><br>
    <%= f.text_field :student_number %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>