
  <%= @student.name %>

  <%= @student.surname %>

  <%= @student.student_number %>

  <%= @student.email %>

  <%= @student.website %>

<%= link_to 'Edit', edit_student_path %> |
<%= link_to 'Back', student_path %>