<div class="row">
  <div class="span12">
  <h1 class="text-center">All Instructors</h1>
  </div>
</div>

<% @instructors.each do |instructor| %>

	<div class="row">
      <div class="span4">
        <%= link_to image_tag(instructor.photo.url(:thumb),  class: 'pull-right img-circle'), instructor %>
      </div>


		<div class="span3">
			<h3><%= link_to "#{instructor.name} #{instructor.surname}", instructor %></h3>
			<h5><%= mail_to "#{instructor.contact_email}" %></h5>
		</div>


		<div class="span5">
			<% instructor.courses.each do |course| %>
				<div><%= link_to "#{strip_tags(course.name)}", course %></div>
			<% end %>
		</div>
		<div class="clear-fix"></div>
	</div>
<% end %>