<div class="row">

	<div class="span4">
		<%= image_tag @instructor.photo.url(:cropped), class: 'img-circle pull-right' %>
	</div>

	<div class="span8">
		<h2><%= @instructor.name %> <%= @instructor.surname %></h2>
		<div><%= mail_to @instructor.contact_email %></div>
	</div>

</div>

<div class="row">
	<div class="span4">
		<% if !@courses.empty? %>
			<div>Courses: </div>
				<% @courses.each do |course| %>
					<div><%= link_to "#{strip_tags(course.name)}", course %></div>
				<% end %>
		<% end %>
	
	</div>

	<div class="span8">
		<div><%= @instructor.description %></div>
	</div>
</div>
