<div class="row">

    <% @projects.each_with_index do |project, index| %>
    <% if index % 3 == 0 %>
    	</div>
    	<div class="row">
    <% end %>
    <div class="span4">
       <%= link_to image_tag(project.image.url(:thumb), class: 'img-circle'), project %> 
       <%= link_to strip_tags(project.title), project %>
        <!-- <td><%= link_to 'Edit', '/editor' + project_path(project), id: 'edit_link', data: {save_url: mercury_update_project_path(project)} %> |</td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
    </div>
    <% end %>
</div>

<br>

<!-- <%= link_to 'New Project', new_project_path %> -->
