<div class="row">
	<div class="span4"></div>
	<div class="span4">
		<h1>New project</h1>
		<%= form_for @project do |f| %>
		  <p>
		    <%= f.label :title %>
		    <%= f.text_field :title %>
		  </p>

		  <%= f.submit %>

		<% end %>

	</div>

	<div class="span4"></div>
</div>