<div class="row">

	<div class="span4">
		<%= image_tag @project.image.url(:medium), class: 'img-circle pull-right' %>
	</div>

	<div class="span8">
		<div id="project_title" data-mercury="full"> 
		  <h2><%= raw @project.title %></h2>
		</div>

		<div id="project_author" data-mercury="full"> 
		  <h4><%= raw @project.author %></h4>
		</div>

		<div id="project_author_email" data-mercury="full"> 
		  <h4><%= raw @project.author_email %></h4>
		</div>
	</div>

</div>

<div class="row">
	<div class="span4">
		<% if request.original_url.include?('mercury') %>
			<%= link_to 'Edit', '/editor' + request.path, id: 'edit_link', data: {save_url: mercury_update_project_path(@project)} %>
			<div><%= render 'image_upload_form' %></div>
		<% else %> 

			<% if !@instructors.empty? %>
				<div class="instructors-list">
					<h3>Instructors:</h3>
					<% @instructors.each do |instructor| %>
						<div> <%= link_to "#{instructor.name} #{instructor.surname}", instructor %> </div>
					<% end %>
				</div>
			<% end %>

			<% if !@courses.empty? %>
				<div class="courses-list">
					<h3>Courses:</h3>
					<% @courses.each do |course| %>
						<div> <%= link_to "#{strip_tags(course.name)}", course %> </div>
					<% end %>
				</div>
			<% end %>

		<% end %>

	</div>

	<div class="span8">
		<div id="project_description" data-mercury="full"> 
  			<%= raw @project.description %>
  		</div>

	</div>
</div>

</div>