<div class="row">
	<div class="span4">
	</div>

	<div class="span4">
		<h2>Sign in</h2>

		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		  <div><%= f.label :email %>
		  <%= f.email_field :email, autofocus: true %></div>
		  <br />
		  <div><%= f.label :password %>
		    <%= f.password_field :password, autocomplete: "off" %></div>

		  <% if devise_mapping.rememberable? -%>
		    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
		  <% end -%>

		  <div><%= f.submit "Sign in" %></div>
		<% end %>

		<%= render "devise/shared/links" %>
	</div>

	<div class="span4">
	</div>
</div>