<div class="row">
  <div class="span12">
  <h1 class="text-center">All Courses</h1>
  </div>
</div>

<% @courses.each do |course| %>

  <div class="row">
      <div class="span4">
        <%= link_to image_tag(course.image.url(:thumb),  class: 'pull-right img-circle'), course %>
      </div>

      <div class="span8">
        <h3><%= link_to strip_tags(course.name), course %>  </h3>
        <h4><small><%= strip_tags(course.abbreviation) %></small></h4>
      </div>

  </div>

<!--         <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course), id: 'edit_link', data: {save_url: mercury_update_course_path(course)} %> |</td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
<br>
<% end %>

 <!-- <%= link_to 'New Course', new_course_path %> -->
