<div class="row">
	<div class="span4"></div>
	<div class="span4">
		<h1>New course</h1>
		<%= form_for @course do |f| %>
		  <p>
		    <%= f.label :name %><br>
		    <%= f.text_field :name %>
		  </p>

		  <%= f.submit %>

		<% end %>

	</div>

	<div class="span4"></div>
</div>