<div class="row">
	<div class="span2"></div>
	
	<div class="span4">
		<div><%= image_tag @course.image.url(:medium), class: 'img-circle'%></div>

		<div id="course_name" data-mercury="full"> 
		  <h3><%= raw @course.name %></h3>
		</div>

		<div id="course_abbreviation" data-mercury="full"> 
		  <h4><small><%= raw @course.abbreviation %></small></h4>
		</div><br />

		<% if request.original_url.include?('mercury') %>
			<div><%= render 'image_upload_form' %></div>
			<%= link_to 'Edit', edit_course_path, id: 'edit_link', data: {save_url: mercury_update_course_path(@course)} %> 
		<% end %>

	</div>

	<div class="span4">
		<div id="course_description" data-mercury="full"> 
		  <%= raw @course.description %>
		</div>
	</div>

	<div class="span2"></div>

</div>