<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Portfolio" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  
  <body>

      <%= nav_bar :brand => "Portfolio", :brand_link => root_path, :fixed => :top, :responsive => true do  %>  
       
        <% menu_group do %>
          <%= menu_item "Courses", courses_path %>
          <%= menu_item "Instructors", instructors_path %>
          
          <%= menu_divider %>
         
         <% if current_admin %>
            <%= drop_down "Add" do %>
            <%= menu_item "Course", new_course_path %>
            <%= menu_item "Project", new_project_path %>
          <% end %>
            <% if controller.action_name == 'show' && controller.controller_name != 'instructors' %>
              <% if request.original_url.include?('mercury') %>
                <%= menu_item "Stop editing #{controller.controller_name[0..-2]}", request.path%>
              <% else %>
                <%= menu_item "Edit #{controller.controller_name[0..-2]}", '/editor' + request.path%>
              <% end %>
            <% end %>
            <%= menu_item "My Account", edit_admin_registration_path %>
            <%= menu_item "Log Out", destroy_admin_session_path, method: 'delete' %>
         <% else %>
            <%= menu_item "Sign In", new_admin_session_path %>
         <% end %>
       <% end %>  
      <% end %>
  
      <div class="container">

          <%= yield %>
      </div>


  <!--     <footer>
        <p>&copy; Company 2014</p>
      </footer> -->

    </div> <!-- /container -->

  </body>
</html>
